{% extends 'base.html' %}

{% block content %}

    
    <h1>Enter a new rating</h1>
    <br><br>
    {% if submitted %}
        <div class="alert alert-success" role="alert">
            Rating submitted successfully!
        </div>
        <center>
            <br>
            <a href="{% url 'ratings' %}" class="btn btn-primary">Back</a>
        </center>
    {% else %}
        <div class="alert alert-warning" role="alert">
            Please enter a rating.
        </div>
    

    
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <center>
            
            <a href="{% url 'ratings' %}" class="btn btn-primary">Back</a>
            <button type="submit" class="btn btn-primary">Submit</button>
        </center>
    </form>
    <br><br>
        </tbody>
    </table>
    
    {% endif %}
    <Script>
        <!-- This code snippet reloads the current page. -->
        // window.location.reload();
    </Script>
</body>
</html>

{% endblock %}