{% extends 'base.html' %}       <!-- loading our base file -->

{% block content %}                 <!-- open block -->

    
    <h1>The Reco-Bot</h1>
    <br><br>
   
            <center>
                <br><br>
                <a href="{% url 'new_rating' %}" class="btn btn-primary">New Rating</a>
                <a href="{% url 'home' %}" class="btn btn-primary">Back</a>
            </center>
        </tbody>
    </table>
    

    <Script>
        <!-- This code snippet reloads the current page. -->
        // window.location.reload();
    </Script>
</body>
</html>

{% endblock %}          <!-- close block -->