{% extends 'base.html' %}       <!-- loading our base file -->

{% block content %}                 <!-- open block -->

    
    <h1>My Recommendations</h1>
    <br><br>
    <table class="table">
        <thead>
            <tr>
                <th>Movie</th>
                <th>Recommendation</th>
            </tr>
        </thead>
        <tbody>
            {% for recommendation in reco_list %}
            <tr>
                <td>{{ recommendation.movie }}</td>
                <td>{{ recommendation.reco }}</td>
            </tr>
            {% endfor %}
            <center>
                <br><br>
                <a href="{% url 'recobot' %}" class="btn btn-primary">Get New</a>
                <a href="{% url 'home' %}" class="btn btn-primary">Back</a>
            </center>
        </tbody>
    </table>
    

    <Script>
        <!-- This code snippet reloads the current page. -->
        // window.location.reload();
    </Script>
</body>
</html>

{% endblock %}          <!-- close block -->