{% extends 'base.html' %}       <!-- loading our base file -->

{% block content %}                 <!-- open block -->

    
    <h1>The Reco-Bot</h1>
    
   
            <center>
                <br>
           
    <tbody>
        
        <p>{{ text_gpt | safe }}</p>  <!-- Display text_test here -->
    </tbody>

    <center>
        <br>
        <a href="{% url 'recobot' %}" class="btn btn-primary">Recommend another Movie</a>
        <!-- <a href="{% url 'watchlist_entry' %}" class="btn btn-primary">Add movie to Watchlist</a> -->
        <a href="{% url 'home' %}" class="btn btn-primary">Back</a>
    </center>
    <Script>
        <!-- This code snippet reloads the current page. -->
        // window.location.reload();
    </Script>
</body>
</html>


{% endblock %}          <!-- close block -->